# SPDX-FileCopyrightText: Copyright (C) 2026 Adaline Simonian
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This file is part of Ordbok API.
#
# Ordbok API is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, either version 3 of the License, or (at your option) any
# later version.
#
# Ordbok API is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Ordbok API. If not, see <https://www.gnu.org/licenses/>.

POSTGRES_PORT=5432
POSTGRES_PASSWORD=password
DATABASE_URL=postgres://ordbokapi:password@localhost:5432/ordbokapi
MEILI_PORT=7700
MEILI_API_KEY=masterkey
MEILI_URL=http://localhost:7700
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379

# API-nykel for ordbank-API-et i CLARINO. Vert bruka til å hente bibliografiske
# metadata for artiklar som refererer til bibliografiske oppføringar.
# CLARINO_API_KEY=din-api-nykel

# Det fylgjande trengst berre om du vil bruke Matrix til å sende varsel
# MATRIX_USERNAME=brukarnamn
# MATRIX_PASSWORD=passord
# MATRIX_HOMESERVER=https://matrix.org
# MATRIX_ROOM_ID=!ID:matrix.org # Varsel skal sendast til dette rommet

# Det fylgjande trengst berre om du vil bruke Sentry til å logge feil
# SENTRY_ENDPOINT=https://<SENTRY_KEY>@<SENTRY_URL>/<SENTRY_PROJECT_ID>
